.buenas {
    width: 1500px;
    height: 600px;
    display: flex;
}

.divs {
    width: 1000px;
    height: 550px;
    margin: 5px;
    background-color: white;
}

.letra {
    color: #080F65;
}

.parrafo {
    color: #080F65;
}

.parra3 {
    width: 400px;
    height: 40px;
}

.boton {
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to top, #fe5196 0%, #f77062 100%);
}
