<section class="buenas">
    <div class="divs ml-4 ">
        <p class="parrafo ml-20  pt-32 font-sans font-bold text-5xl">Maximize skill, </p>
        <p class="parrafo ml-20   font-sans font-bold text-5xl">minimize budget </p>
        <p class="parra3 ml-20 pt-5">Our modern courses across a range of in-demand skills will give you knowledge you need to live the life you want</p>

        <div class="ml-20 pt-16">

            <button class=" boton  text-white rounded-full">Get Started</button>
        </div>
    </div>
    <div class="divs ">
        <div class="flex justify-end">

            <img class="w-5/6 h-5/6" src="./../../../assets/img/mejor.png" alt="">
        </div>

    </div>

</section>
